<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.phoenixhomes">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PhoenixHomes"
        tools:targetApi="31">

        <activity
            android:name=".DevelopmentMilestone"
            android:exported="false" />
        <activity
            android:name=".DevelopmentProgressHeight"
            android:exported="false" />
        <activity
            android:name=".DevelopmentProgressWeight"
            android:exported="false" />
        <activity
            android:name=".AdministeredVaccines"
            android:exported="false" />
        <activity
            android:name=".BehaviouralCharacteristics"
            android:exported="false" />
        <activity
            android:name=".FeedingInformation"
            android:exported="false" />
        <activity
            android:name=".ClinicalReview"
            android:exported="false" />
        <activity
            android:name=".CivilRegistration"
            android:exported="false" />
        <activity
            android:name=".HealthRecord"
            android:exported="false" />
        <activity
            android:name=".ParticularsOfChild"
            android:exported="false" />
        <activity
            android:name=".ChildMonitoring"
            android:exported="false" />
        <activity
            android:name=".selectChild"
            android:exported="false" />
        <activity
            android:name=".ClinicalNotes"
            android:exported="false" />
        <activity
            android:name=".FamilyPlanning"
            android:exported="false" />
        <activity
            android:name=".ReproductiveOrgans"
            android:exported="false" />
        <activity
            android:name=".PostNatalExamination"
            android:exported="false" />
        <activity
            android:name=".Delivery"
            android:exported="false" />
        <activity
            android:name=".PreventiveService"
            android:exported="false" />
        <activity
            android:name=".ProgressReport"
            android:exported="false" />
        <activity
            android:name=".WeightGain"
            android:exported="false" />
        <activity
            android:name=".PresentPregnancyTable"
            android:exported="false" />
        <activity
            android:name=".PhysicalExamination"
            android:exported="false" />
        <activity
            android:name=".PreviousPregnancy"
            android:exported="false" />
        <activity
            android:name=".MedicalAndSurgicalHistory"
            android:exported="false" />
        <activity
            android:name=".MaternalProfile"
            android:exported="false" />
        <activity
            android:name=".AntennatalProfile"
            android:exported="false" />
        <activity
            android:name=".InfantFeeding"
            android:exported="false" />
        <activity
            android:name=".PostNatalCare"
            android:exported="false" />
        <activity
            android:name=".MotherChildCareHome"
            android:exported="false" />
        <activity
            android:name=".user_registration"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".userLogin"
            android:exported="true" />

        <activity
            android:name=".splashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>